body {
    font-family: Arial, sans-serif;
    background-color: #073b60;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #0b4a77;
    padding: 20px;
    border-radius: 15px;
    width: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #045b99;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #045b99;
    color: white;
    border: 1px solid transparent;
    border-bottom: none;
}

.tab.active {
    background-color: #047bbd;
    font-weight: bold;
}

.tab:hover {
    background-color: #036aa5;
}

.tab-content {
    display: block;
}

.hidden {
    display: none;
}

h2 {
    margin: 10px 0 5px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

input {
    background-color: #ffffff;
    color: #000000;
}

button {
    background-color: #047bbd;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #036aa5;
}

/* Estilos para la pestaña de asientos */
.seating-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.seating-column {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.seating-column h2 {
    margin-bottom: 10px;
}

.search {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}

.seating-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.seating-controls button {
    width: 50px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #047bbd;
    color: white;
    cursor: pointer;
}

.seating-controls button:hover {
    background-color: #036aa5;
}

#nextSeats {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #047bbd;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#nextSeats:hover {
    background-color: #036aa5;
}
